@import "tailwindcss";

@theme {
  --color-main: #222222;
  --color-gray: #666666;
  --color-line-gray: #ededed;
  --color-orange: #ff7300;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222222;
}

button {
  cursor: pointer;
}
